menu "tic2json"

    choice
    prompt "TIC version"
    default TIC2JSON_TICV02
    config TIC2JSON_TICV01
        bool "01 (Historique)"
    config TIC2JSON_TICV02
        bool "02 (Standard)"
    endchoice

    config TIC2JSON_MASKZEROES
    bool "Skip datasets with 0-value"
    default y

    config TIC2JSON_DICTOUT
    bool "Enable dictionary output"
    default y

    config TIC2JSON_LONGDATE
    bool "Enable RFC3339 date format output"
    
endmenu
